<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = (site.pages | sort: 'level') %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.level == 1 %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% if node.title == "Guide" %}
              {% for node2 in pages_list %}
                {% if node2.title != null %}
                    {% if node2.level >= 2 %}
                        {% if node2.parent == node.key %}
                        <a class="sidebar-nav-item{% if page.url == node2.url %} active{% endif %} level2" href="{{ node2.url }}"> - {{ node2.title }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>-->
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
